.dropdown{
    background-color: #F6F6F6;
    max-width: 1020px;
    width: 100%;
    margin: 30px auto;


    overflow: hidden;
    height: min-content;

    .btn{
        color: #fff;
        border-radius: 5px;
        padding: 15px 15px 15px 15px;
        font-size: 24px;
        display: flex;
        background-color: $primary-color;
        justify-content: space-between;
        align-items: center;
        .vector{
            transition: transform 0.3s;
        }
    }
    .title{
        color: #fff;
        font-size: 18px;
    }
    .content{
        padding: 15px;
        display: none;
        opacity: 0;
        color: $primary-color;
        div,p{
            color: $primary-color;
        }
        p{
            margin: 0;
        }
    }

    &.active{

        .btn{
            .vector{
                transform: rotate(180deg);
            }
        }
        .content{
            opacity: 1;
            display: block;
        }
    }
}