.tag{

    background-color: $primary-color;
    color : #fff;
    width: fit-content;
    padding: 10px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}