.tag{

    background-color: $primary-color;
    color : #fff;
    width: fit-content;
    padding: 5px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
}