.info{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    
    .header_info{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .title{
            width: 70%;

            .location{
                font-size: 36px;
            }

            .localisation{
                font-size: 18px;
                margin-top: 10px;
            }

            .tags{
                margin-top: 20px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }
        }


    }
    .details{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .rate{
            min-width: 150px;
        }
    }
    .dropdowns{
        display: flex;
        justify-content: space-between;
        margin: 25px 0 50px 0;
        gap: 20px;
        .dropdown{
            max-width: 580px;
            margin: 0;
        }
    }



}

.skeleton{
    background-color: $background-skeleton;
    min-height: 50px;
}

@media screen and (max-width:768px) {
    .info{
        .header_info{
            flex-direction: column;
            .title{
                width: 100%;


            }
            .details{
                margin-top: 15px;
                flex-direction: row-reverse;
                align-items: center;
            }
        }

        .dropdowns{
            flex-direction: column;
        
            .dropdown{
                max-width: none;
            }
        }
    }

}

@media screen and (max-width:576px) {
    .info{

        .header_info{

            .title{
                .location{
                    font-size: 24px;
                }

            }
        }
    }
}