
.header{

    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto 40px auto;

    .logo{
        width: 210px;
        object-fit: contain;
    }

}

@media screen and (max-width:576px) {
    .header{
        padding : 15px;
    
        .logo{
            width: 140px;
            
        }
    
    }
}